include includes/head.pug
body
    div(class="wrapper")
        h1 List of Prices
        main(id="main-crypto")
            - var counter = 0;
            each crypto, index in cryptos
                a(class="crypto-block" href=crypto.id)
                    img(class="crypto-img" src="https://www.cryptocompare.com"+cryptoSymbolUrls[counter] alt="No logo was found")
                    span(class="crypto-name") #{crypto.name} (#{crypto.symbol})
                    span(class="crypto-price") $#{crypto.price_usd}
                    span(class="crypto-marketcap") $#{crypto.market_cap_usd}
                    span(class="percent-change") #{crypto.percent_change_1h}%
                    span(class="percent-change") #{crypto.percent_change_24h}%
                    span(class="percent-change") #{crypto.percent_change_7d}%
                    - counter++;
            else
                span Could not retrieve data from CoinMarketCap
    include includes/footer.pug